.blog-media-body {
    height: 150px;
    position: relative;
}
/*
.blog-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear .25s,opacity .25s 0s,transform .25s;
}
.blog-show-cover {
	opacity: 1;
	visibility: visible;
	transform: scale(1.0);
	transition: visibility 0s linear 0s,opacity .25s 0s,transform .25s;
}
.blog-edit-form {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 500px;
	padding: 40px 20px 50px;
	background-color: #d7d7d7;
	border: 1px solid #777;
	font-size: 15px;
	border-radius: 10px;
	user-select: none;
	-ms-user-select: none;
}
.blog-thumb-contenido { 
    margin-bottom: 1%;
    margin-left: 0px;
    padding-left: 0px;
}
*/
